.round {
    border: 1px solid gray;
    border-radius: 5px;
}

.custom-bgcolor {
    background-color: steelblue;
}

.custom-transform {
    transform:rotate(45deg);
}

.custom-padding {
    padding: 50px;
}

.custom-orientation {
    rotate: 180deg;
}

.custom-color {
    color:rgb(255, 198, 43)
}

.element-container {
    display: grid;
    margin-top: 25px;;
    margin-right: 50px;
    grid-template-columns: 1fr 1fr 1fr 12fr;
    grid-template-rows: auto auto;
                        
}

.stylable-element {
    height: 300px;
    width: 300px;
    border: 3px solid;
    border-style: solid;

    cursor: pointer;
}

#elem1 {
    border-color: rgb(255, 184, 53);
}

#elem2 {
    border-color: rgb(116, 168, 66);
}

.selected-element {
    border-style: dashed;
}

.checkbox-container {
    display: block;
}

.checkbox-group {
    display: block;
}
