body {
    padding: 0;
    margin: 0;
    overflow: visible;
    background-color: black;
}

#svg-drawing {
    background-color: deepskyblue;
    /* background-color: rgb(255, 0, 221); */
    /* padding: 0;
    margin: 0; */
}

.sky-layer {
    stroke: rgba(0, 0, 0);
    fill: none;
    stroke-width: 400;
}

#sky-top {
    stroke-opacity: 0.35;
}

#sky-mid {
    stroke-opacity: 0.25;
}

#sky-bottom {
    stroke-opacity: 0.15;
}

#sky-single {
    stroke-opacity: 0.05;
    fill-opacity: 0;
    fill: white;
    stroke: rgba(0, 0, 0);
    stroke-width: 400;
}

.svg-ground {

}

.debug {
    fill: darkorchid;
}

.snow {
    /* fill: #ffffff; */
    fill: url(#snow-gradient);
}

/* #snow-ground {
    fill: url(#snow-grou-gradient);
} */

.snow-shade {
    /* fill: #e6e6e6; */
    fill: #c5c5c5;
}

.ball {
    /* stroke: #e6e6e6; */
    filter: url(#inset-shadow);
}

.carrot {
    fill:orange;
    stroke:rgb(255, 115, 0);
    stroke-width:1
}