body {
    padding: 0;
    margin: 0;
    overflow: visible;
    background-color: black;
}

#svg-drawing {
    background-color: deepskyblue;
}

.sky-layer {
    stroke: rgba(0, 0, 0);
    fill: none;
    stroke-width: 400;
}

#sky {
    stroke-opacity: 0.05;
    fill-opacity: 0;
    fill: white;
    stroke: rgba(0, 0, 0);
    stroke-width: 400;
}

.debug {
    fill: darkorchid;
}

.snow {
    fill: url(#snow-gradient);
}

.snow-shade {
    fill: #c5c5c5;
}

.ball {
    filter: url(#inset-shadow);
}

.carrot {
    fill:rgb(255, 115, 0);
    stroke:rgb(255, 115, 0);
    stroke-width:15;
    stroke-linejoin: round;
}

.rock {
    fill: black;
    stroke: grey;
}

.mouth {
    fill: none;
    stroke: black;
    stroke-width: 5;
}